<h1>New Investment</h1>

<form method="post" action="/investments">
    <div>
        <label>ID</label>
    </div>
    <div>
        <input type="text" name="id" />
    </div>
    <div>
        <label>Address</label>
    </div>
    <div>
        <textarea name="address"></textarea>
    </div>
    <div>
        <label>description</label>
    </div>
        <div>
            <input type="text" name="description" />
        </div>
        <div>
            <label>pricing</label>
        </div>
        <div>
            <textarea name="pricing"></textarea>
        </div>
        <input type="submit" value="Submit Form" />
    </div>
</form>